---
import { languageTag } from "../paraglide/runtime";
const title = Astro.props.title;
const paraglide = Astro.locals.paraglide;
---

<html lang={languageTag()} dir={paraglide.dir}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <main>
      <!-- <LanguagePicker /> -->
      <slot />
    </main>
  </body>
</html>